body {
    background-color: #f8f9fa;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 16px;
    color: #000;
}

h1, h2, h3, h4, h5, h6, .paragraph {
    margin: 0;
}

.container {
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
}

.main-header {
    color: #fff;
    padding-top: 30px;
}

.general-footer {
    padding-bottom: 20px;
}

.shadow {
    box-shadow: 0 0 10px 5px #ddd;
}

.text-bold {
    font-weight: bold;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #619fcc;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 10px 15px 10px;
}

.column__general {
    display: flex;
    flex-direction: column;
}

.column__additional {
}

.column__title {
    margin-bottom: 5px;
    font-family: 'Impact', sans-serif;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 5px solid #382C28;
}

.column__subtitle, .content__caption {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.column__description {
    margin-left: 10px;
}

.features {
    /*вижу много флексов, флоаты зачем именно здесь?*/

    /*float здесь я указал для того, чтобы border-bottom, в классе ниже, равнялся по контенту в блоке ul.*/
    /*на мой взгляд так красивее выглядит =)*/
    float: left;
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 8px;
    border-bottom: .1em solid #382C28;
}

.features li a {
    text-decoration: none;
    color: #fff;
}

.features li a:hover {
    text-decoration: underline;
}

.contacts {
    margin-left: 5px;
}

.photo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #382C28;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: auto;
}

.content__row {
    align-items: stretch;
    margin: 30px 0;
    background-color: #fff;
}

.content__row:first-child {
    margin-top: 0;
}

.content__cell_w_3 {
    width: 30%;
}

.content__cell_w_7 {
    width: 70%;
}

.content__cell {
    border-right: 1px solid #619fcc;
    padding-left: 10px;
}

.content__cell:first-of-type {
    padding: 0;
}

.content__cell:last-of-type {
    border: none;
}

.content__caption {
    display: flex;
    align-items: center;
}

.summary-item:after {
    content: '';
    display: block;
    width: 45%;
    margin: 5px 0 10px 0;
    border-bottom: 2px solid #382C28;
}

.summary-item:last-of-type:after {
    content: none;
}

.summary-item__title {
    color: #619fcc;
}

.summary-item__subtitle {
    color: gray;
    font-weight: 400;
    font-size: 14px;
}

.summary-item__content {
    margin-top: 5px;
}

.summary-item__content h3 {
    font-weight: normal;
    margin-bottom: 3px;
}

.summary-item__content p {
    margin-top: 0;
}

.summary-item__content ul {
    margin-top: 0;
    padding-left: 20px;
}

.summary-item__content li::marker {
    color: #619fcc;
}

.content {
    padding-top: 30px;
}

a.btn {
    float: left;
    border-radius: 5px;
    border: 1px solid gray;
    color: #000;
    text-decoration: none;
    user-select: none;
    background-color: #f8f9fa;
    padding: .3em .3em;
    outline: none;
    line-height: 0;
    margin: 0 5px;
}

a.btn:hover {
    background: #cecece;
}

a.btn:active {
    background: #c0c0c0;
}

/* ICONS */
.lnr {
    color: #382C28;
    font-weight: bold;
}

.lnr--big {
    font-size: 24px;
}

@media screen and (max-width: 649px) {
    .shadow {
        box-shadow: none;
    }

    .main-header, .general-footer {
        padding: 0;
    }

    .block {
        flex-direction: column;
        border-radius: 0;
    }

    .column__title {
        text-align: center;
    }

    .column__subtitle, .content__caption {
        margin: 0;
        text-align: center;
    }

    .column__description {
        margin-left: 0;
    }

    .features {
        float: none;
        text-align: center;
    }

    .features li {
        border-bottom: none;
    }

    .column__additional {
        order: -1;
    }

    .contacts {
        margin: 0 auto;
    }

    .content {
        padding-top: 0;
    }

    .content__row {
        margin: 0;
    }

    .content__row:last-of-type:after {
        content: none;
    }

    .content__cell {
        border: none;
    }

    .content__cell_w_3, .content__cell_w_7 {
        width: auto;
    }

    .content__cell:first-of-type:after {
        display: block;
        content: ' ';
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid #382C28;
    }

    .content__cell:first-of-type:after {
        margin: 10px auto;
    }

    .content__caption {
        display: flex;
        align-items: center;
        justify-content: center
    }
}
